*{
    background-color: black;
    box-sizing: border-box;
}

header{
    color: white;
    width: 100%;
    text-align: center;
    position: relative;
    top: 10px;
    left: 20px;
}

#grid-container{
    background-color: black;
    margin-top: 3%;
    width: 80%;
    margin-right: 10%;
    margin-left: 10%;
    height: 60vh;
    position: absolute;
    border-radius: 2.5%;
    border: 3.5px solid white;
    display: grid;
    grid-gap: 1px;;
    z-index: 0;
}

.gridSquare{
    color: white;
}

.alive{
    background-color: white;
}

.dead{
    background-color: black;
}

#nextButton{
    background-color: white;
}

.nextButtonContainer{
    align-items: center;
    width: 100%
}